<!-- FOOTER SECTION -->
  <section class="footer-wrapper">
    <div class="footer-display">
      <ul>
        <h1> Location:</h1>
        <li> Roger Strawser</li>
        <li>SouthEast, US</li>
        <li>(813)205-8132 </li>
      </ul>

      <ul>
        <h1> Also find on:</h1>
        <li><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i> Twitter </li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</li>
      </ul>
    </div>
  </section>


    <script type="text/javascript" src="./js/functions.js"></script>
    </body>
</html>
