<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
        <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <title> Select Vettes</title>
    </head>
    <body>

      <!-- NAV SECTION -->

      <section class="nav-wrapper">
        <div class="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="nav-display">
          <figure class="emblem-display">
            <h1>SelectVettes</h1>
            <p> & Muscle Cars</p>
            <img src="../imgs/vetteEmblemDarker.png" alt="Vette Emblem" />
           </figure>
           <div class="nav-line"></div>

            <h2><a href="/home"> Home</a></h2>
            <h2><a href="/inventory"> Inventory</a></h2>
            <h2> About</h2>
            <h2> Contact</h2>
        </div>

      </section>

      <div class="scrollToTop">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </div>

    <!-- NAV SECTION END -->
