<% include partials/header %>

    <section class="index-intro-wrapper">
      <div class="index-intro-display">
        <h1>SelectVettes</h1>
        <p> & Muscle Cars</p>

        <div class="index-intro-emblem">
          <img src="./imgs/vetteEmblemDarker.png" alt="Vette Emblem" />
        </div>
      </div>


    </section>

<% include partials/footer %>
