<% include partials/header %>

  <!-- INTRO SECTION -->

    <section class="index-intro-wrapper">
      <div class="index-intro-display">
        <h1>SelectVettes</h1>
        <p> & Muscle Cars</p>

        <div class="index-intro-emblem">
          <img src="./imgs/vetteEmblemDarker.png" alt="Vette Emblem" />
        </div>
      </div>
    </section> <!-- INTRO SECTION END -->

    <!-- ABOUT SECTION -->

    <section class="index-about-wrapper">
      <div class="index-about-display">
        <h1> About</h1>
        <p>
          At Select Corvettes & Muscle Cars and Select Motorcars Southeast LLC, we offer the highest quality selection of Corvettes, Muscle Cars, & Classics. Each car is hand-picked and must meet our high selection standards. You can rest assured that over 30 years of experience in the business has gone into perfecting our selection process. If there is a specific vehicle you have in mind, that we don't currently have in inventory, send us an email and we'll do our best to find it for you. We take pride in our work and consider a job well-done, only if you can take pride in your association with us.
        </p>
      </div>
    </section>

    <!-- INDEX GALLERY -->

    <section class="index-gallery-wrapper">
      <div class="index-gallery-display">
        <h1> Inventory</h1>
        <hr>
        <ul>
          <li>
            <a href=""><img src="http://selectvettes.com/inventory/57%20tbirdweb1.jpg" alt="" /></a>
            <div class="index-gallery-info-card">
                <h2>1956 Ford Thunderbird</h2>
            </div>
          </li>
          <li>
            <a href=""><img src="http://selectvettes.com/inventory/65%20vette%20web1.jpg" alt="" /></a>
            <div class="index-gallery-info-card">
                <h2>1965 Corvette</h2>
            </div>
          </li>
          <li>
            <a href=""><img src="http://selectvettes.com/inventory/67%20GTO%20web1.jpg" alt="" /></a>
            <div class="index-gallery-info-card">
                <h2>1967 Pontiac GTO</h2>
            </div>
          </li>
          <li>
            <a href=""><img src="http://selectvettes.com/inventory/66%20442rd%20web1.jpg" alt="" /></a>
            <div class="index-gallery-info-card">
                <h2>1966 Olds 442</h2>
            </div>
          </li>
        </ul>

        <div class="gallery-button">
          <button><a href="/inventory"> View Inventory</a></button>
        </div>

      </div>
    </section>

<% include partials/footer %>
