<% include partials/header %>

    <section class="index-intro-wrapper">
      <div class="index-intro-display">
        <h1>Hello from the index</h1>
      </div>
    </section>

<% include partials/footer %>
