<% include partials/header %>

    <section class="index-intro-wrapper">
      <div class="index-intro-display">
        <h1>SelectVettes</h1>
        <p> & Muscle Cars</p>
      </div>
    </section>

<% include partials/footer %>
