* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif; }

ul {
  list-style: none; }

.nav-wrapper {
  width: 300px;
  height: 100vh;
  background: #161616;
  position: fixed;
  right: 0;
  box-shadow: 0 5px 10px black;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 1000; }

.nav-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: -50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.nav-icon span {
  width: 25px;
  height: 2px;
  background: #ccc;
  position: absolute;
  right: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }
  .nav-icon span:nth-child(1) {
    top: 2px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .nav-icon span:nth-child(2) {
    top: 9px;
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .nav-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .nav-icon span:nth-child(1).open {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .nav-icon span:nth-child(2).open {
    top: 9px;
    opacity: 0; }
  .nav-icon span:nth-child(3).open {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.nav-display {
  width: 100%;
  height: 100%;
  color: #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-item: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.6s ease 0.3s;
  transition: all 0.6s ease 0.3s; }
  .nav-display.nav-display-active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .nav-display a {
    text-decoration: none;
    color: #ccc; }
    .nav-display a:hover {
      color: #ee3a43;
      text-shadow: 0 0 15px #ee3a43; }
  .nav-display h2 {
    font-size: 1.5em; }
  .nav-display h1, .nav-display h2 {
    font-weight: 300;
    margin-left: 20px;
    padding: 10px 0; }
    .nav-display h1:hover, .nav-display h2:hover {
      color: #ee3a43;
      text-shadow: 0 0 15px #ee3a43; }

.nav-line {
  width: 265px;
  height: 1px;
  margin: 0 auto;
  background: #bbb; }

.nav-slide {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.icon-slide {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease; }

.scrollToTop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100; }

.fa-angle-up {
  color: #f9f9f9;
  font-size: 40px; }

.footer-wrapper {
  width: 100%;
  height: 100%;
  background: #ccc; }

.footer-display {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  color: #161616;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-display ul {
    width: 200px;
    margin-left: 15%;
    padding: 40px 0; }
  .footer-display li {
    font-size: 20px;
    letter-spacing: 0.6px;
    line-height: 30px; }
  .footer-display h1 {
    font-size: 25px; }
  .footer-display a {
    text-decoration: none;
    color: #161616; }

@media (min-width: 500px) {
  .footer-display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .footer-display ul {
      margin-left: 10%; } }
.index-intro-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-160814.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: initial; }

.index-intro-display {
  width: 100%;
  height: 100%;
  color: #ccc;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .index-intro-display h1 {
    color: #ee3a43;
    font-size: 2.5em;
    margin-bottom: -10px;
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.6), 0 0 60px rgba(255, 0, 0, 0.2), 0 0 80px rgba(255, 0, 0, 0.1); }
  .index-intro-display p {
    font-size: 25px;
    text-shadow: 0px 5px 15px black; }

.index-intro-emblem {
  width: 250px;
  height: 150px;
  margin-top: -25px; }
  .index-intro-emblem img {
    width: 100%;
    height: 100%; }

@media (min-width: 769px) {
  .index-intro-wrapper {
    background-attachment: fixed; }

  .index-intro-display h1 {
    font-size: 4em; } }
.index-about-wrapper {
  width: 100%;
  height: auto;
  background: #f9f9f9;
  position: relative; }
  .index-about-wrapper:after {
    border: 1em solid transparent;
    border-top-color: #f9f9f9;
    content: "";
    position: absolute;
    margin-left: -1em;
    top: 100%;
    left: 50%;
    z-index: 100; }

.index-about-display {
  width: 90%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 0.6px;
  padding: 80px 0; }
  .index-about-display h1 {
    font-size: 2.5em;
    color: #161616;
    padding-bottom: 30px; }
  .index-about-display p {
    color: #menu-background; }

.index-gallery-wrapper {
  width: 100%;
  height: auto;
  background: #161616;
  position: relative; }
  .index-gallery-wrapper:after {
    border: 1em solid transparent;
    border-top-color: #161616;
    content: "";
    position: absolute;
    margin-left: -1em;
    top: 100%;
    left: 50%; }

.index-gallery-display {
  width: 100%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center; }
  .index-gallery-display h1 {
    color: #ccc;
    font-size: 2.5em;
    padding-bottom: 50px; }
  .index-gallery-display hr {
    color: #ccc;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .index-gallery-display ul {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .index-gallery-display li {
    width: 90%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    color: #ccc;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    overflow-y: hidden; }
    .index-gallery-display li:hover div {
      opacity: 1;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: all 0.35s linear;
      transition: all 0.35s linear; }
  .index-gallery-display img {
    width: 100%; }

.index-gallery-info-card {
  width: 100%;
  height: 70%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear; }

.gallery-button {
  width: 180px;
  margin: 0 auto; }
  .gallery-button button {
    width: 100%;
    height: 40px;
    background: #161616;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0px 5px 10px #000;
    cursor: pointer;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .gallery-button button:hover {
      width: 110%;
      height: 45px;
      margin-left: -10px;
      box-shadow: 0px 0px 12px #404040;
      -webkit-transform: translateY(4px);
      transform: translateY(4px); }
  .gallery-button a {
    color: #f9f9f9;
    font-size: 18px;
    letter-spacing: 0.6px;
    text-decoration: none;
    padding: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

@media (min-width: 500px) {
  .index-gallery-display li {
    width: 40%;
    margin: 1em; } }
@media (min-width: 769px) {
  .index-gallery-display li {
    width: 28.5%;
    padding: 0;
    margin: 1em; } }
.inventory-intro-wrapper {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
  overflow-y: hidden; }

.inventory-intro-display {
  width: 100%;
  height: 100%; }

.inventory-intro-numbers {
  width: 100%;
  height: 100%;
  background: #161616;
  position: relative;
  display: inline-block; }
  .inventory-intro-numbers h1 {
    width: 90%;
    color: #f9f9f9;
    font-size: 22px;
    text-shadow: 0px 5px 10px #000;
    position: absolute;
    top: 190px;
    left: 10px; }
  .inventory-intro-numbers span {
    color: #ccc;
    position: absolute;
    font-size: 300px;
    font-weight: bold;
    margin-top: -60px; }
  .inventory-intro-numbers p {
    width: 300px;
    color: #f9f9f9;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 40px;
    position: absolute;
    top: 350px;
    left: 20px; }

@media (min-width: 600px) {
  .inventory-intro-numbers {
    width: 400px; } }
.inventory-intro-cars {
  width: calc(100% - 410px);
  height: 100%;
  position: relative;
  display: none; }
  .inventory-intro-cars ul {
    width: 100%;
    height: 100%;
    position: absolute;
    list-style: none; }
  .inventory-intro-cars li {
    color: #ccc;
    width: 100%;
    height: 25%;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    -webkit-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s; }
    .inventory-intro-cars li:hover {
      height: 50%;
      margin-top: -50px; }
    .inventory-intro-cars li:nth-child(1) {
      background-image: url("http://selectvettes.com/inventory/65%20vette%20web1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .inventory-intro-cars li:nth-child(2) {
      background-image: url("http://selectvettes.com/inventory/57%20tbirdweb1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .inventory-intro-cars li:nth-child(3) {
      background-image: url("http://selectvettes.com/inventory/66%20442rd%20web1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .inventory-intro-cars li:nth-child(4) {
      background-image: url("http://selectvettes.com/inventory/67%20GTO%20web1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .inventory-intro-cars li img {
      width: 100%;
      height: 100%; }

@media (min-width: 500px) {
  .inventory-intro-cars {
    display: inline-block; } }
.inventory-intro-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.inventory-list-wrapper {
  width: 100%;
  height: 100%;
  background: #f9f9f9; }

.inventory-list-display {
  width: 100%;
  height: 100%;
  padding: 50px 0; }

.inventory-list-group {
  width: 90%;
  height: 100%;
  max-width: 1080px;
  margin: 50px auto;
  border-top: 1px solid #161616;
  border-bottom: 1px solid #161616; }
  .inventory-list-group li {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
    list-style: none; }

.inventory-list-image {
  width: 100%;
  height: 250px;
  text-align: center;
  display: block; }
  .inventory-list-image img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 270px;
    display: inline-block; }

@media (min-width: 500px) {
  .inventory-list-image {
    width: 45%;
    display: inline-block; } }
.inventory-list-items {
  width: 100%;
  height: 250px;
  color: #707070;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative; }
  .inventory-list-items h2 {
    width: 100%;
    padding: 10px 0;
    text-align: center; }
  .inventory-list-items button {
    width: 150px;
    height: 35px;
    background: #161616;
    border-radius: 4px;
    box-shadow: 0px 5px 10px #161616;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 75px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .inventory-list-items button:hover {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      box-shadow: 0px 10px 18px #161616; }
    .inventory-list-items button a {
      color: #ccc;
      font-size: 16px;
      text-decoration: none; }

@media (min-width: 600px) {
  .inventory-list-items {
    width: 45%; } }
