* {
  padding: 0;
  margin: 0; }

html, body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif; }

.nav-wrapper {
  width: 75%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.nav-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: -50px;
  cursor: pointer;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear; }

.nav-icon span {
  width: 25px;
  height: 2px;
  background: #ccc;
  position: absolute;
  right: 3px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  .nav-icon span:nth-child(1) {
    top: 2px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .nav-icon span:nth-child(2) {
    top: 9px;
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .nav-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .nav-icon span:nth-child(1).open {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .nav-icon span:nth-child(2).open {
    top: 9px;
    opacity: 0; }
  .nav-icon span:nth-child(3).open {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.nav-display {
  width: 100%;
  height: 100%;
  color: #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-item: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav-display h1 {
    font-size: 2em;
    margin-left: 20px; }
  .nav-display h2 {
    font-size: 1.2em;
    margin-left: 20px; }
  .nav-display h1, .nav-display h2 {
    font-weight: 300;
    padding: 10px 0; }
    .nav-display h1:hover, .nav-display h2:hover {
      color: #ee3a43;
      text-shadow: 0 0 15px #ee3a43; }

.nav-slide {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.icon-slide {
  -webkit-transform: translateX(75vw);
  transform: translateX(75vw);
  -webkit-transition: 0.35s all 0.75s ease;
  transition: 0.35s all 0.75s ease; }

@media (min-width: 769px) {
  .icon-slide {
    -webkit-transform: translateX(40vw);
    transform: translateX(40vw);
    -webkit-transition: 0.35s all 0.75s;
    transition: 0.35s all 0.75s; }

  .nav-wrapper {
    width: 40%; }

  .nav-display h1 {
    font-size: 3em; }
  .nav-display h2 {
    font-size: 2em; } }
.index-intro-wrapper {
  width: 100%;
  height: 100vh;
  background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-160814.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; }

.index-intro-display {
  width: 100%;
  height: 100%;
  color: #ccc;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .index-intro-display h1 {
    color: #ee3a43;
    font-size: 2.5em;
    margin-bottom: -10px;
    -webkit-animation: neon 2s ease-in-out infinite alternate;
    animation: neon 2s ease-in-out infinite alternate; }
  .index-intro-display p {
    font-size: 25px;
    text-shadow: 0px 5px 15px black; }

.index-intro-emblem {
  width: 250px;
  height: 150px;
  margin-top: -25px; }
  .index-intro-emblem img {
    width: 100%;
    height: 100%; }

@media (min-width: 769px) {
  .index-intro-display h1 {
    font-size: 4em; } }
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ee3a43, 0 0 70px #ee3a43, 0 0 80px #ee3a43, 0 0 100px #ee3a43, 0 0 150px #ee3a43; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ee3a43, 0 0 35px #ee3a43, 0 0 40px #ee3a43, 0 0 50px #ee3a43, 0 0 75px #ee3a43; } }
@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ee3a43, 0 0 70px #ee3a43, 0 0 80px #ee3a43, 0 0 100px #ee3a43, 0 0 150px #ee3a43; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ee3a43, 0 0 35px #ee3a43, 0 0 40px #ee3a43, 0 0 50px #ee3a43, 0 0 75px #ee3a43; } }
