<% include ../partials/header %>

<!-- INTRO SECTION -->

<section class="inventory-intro-wrapper">
  <div class="inventory-intro-display">
    <div class="inventory-intro-numbers">
      <span>15</span>
      <h1>Quality cars in Inventory</h1>
      <p>
        --"The bitterness of poor quality remains long after the sweetness of low price is forgotten"
      </p>
    </div>
    <div class="inventory-intro-cars">
      <ul>
        <li><div class="inventory-intro-overlay"> Chevorlet</div></li>
        <li><div class="inventory-intro-overlay"> Ford</div></li>
        <li><div class="inventory-intro-overlay"> Olds</div></li>
        <li><div class="inventory-intro-overlay"> Pontiac</div></li>
      </ul>
    </div>
  </div>
</section> <!-- INTRO SECTION END -->

<!--  LIST SECTION -->

  <section class="inventory-list-wrapper">
    <div class="inventory-list-display">
      <div class="inventory-list-group">
          <li>
            <div class="inventory-list-image">
              <img src="http://selectvettes.com/inventory/67%20GTO%20web1.jpg" alt="" />
            </div>
            <div class="inventory-list-items">
              <h2>1967 Pontiac GTO</h2>
              <p>Color: Champagne / Black Interior</p>
              <button><a href=""> View Details</a></button>
            </div>
          </li>
      </div>
    </div>
  </section>



<% include ../partials/footer %>
