<% include ../partials/header %>

<section class="inventory-intro-wrapper">
  <div class="inventory-intro-display">
    <div class="inventory-intro-numbers">
      <span>15</span>
      <h1>Quality cars in Inventory</h1>
      <p>
        --"The bitterness of poor quality remains long after the sweetness of low price is forgotten"
      </p>
    </div>
    <div class="inventory-intro-cars">
      <ul>
        <li><div class="inventory-intro-overlay"> Chevorlet</div></li>
        <li><div class="inventory-intro-overlay"> Ford</div></li>
        <li><div class="inventory-intro-overlay"> Olds</div></li>
        <li><div class="inventory-intro-overlay"> Pontiac</div></li>
      </ul>
    </div>
  </div>
</section>


<% include ../partials/footer %>
