@import '../1-base/var'

// INDEX INTRO SECTION

.index-intro-wrapper
  width: 100%
  height: 100vh
  background: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-160814.jpg')
  background-size: cover
  background-position: center bottom
  background-repeat: no-repeat

.index-intro-display
  width: 100%
  height: 100%
  color: #ccc
  background: rgba(0, 0, 0, 0.7)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h1
    color: $vette-red
    font-size: 2.5em
    margin-bottom: -10px
    animation: neon 2s ease-in-out infinite alternate

  p
    font-size: 25px
    text-shadow: 0px 5px 15px black

.index-intro-emblem
  width: 250px
  height: 150px
  margin-top: -25px

  img
    width: 100%
    height: 100%

@media (min-width: 769px)
  .index-intro-display
    h1
      font-size: 4em




// INDEX INTRO SECTION

//

@keyframes neon
  from
    text-shadow: 0 0 10px $a2, 0 0 20px $a2, 0 0 30px $a2, 0 0 40px $vette-red, 0 0 70px $vette-red, 0 0 80px $vette-red, 0 0 100px $vette-red, 0 0 150px $vette-red
  to
    text-shadow: 0 0 5px $a2, 0 0 10px $a2, 0 0 15px #fff, 0 0 20px $vette-red, 0 0 35px $vette-red, 0 0 40px $vette-red, 0 0 50px $vette-red, 0 0 75px $vette-red
