// variables
@import '../1-base/var'

//***************************************
//         Inventory Intro
//***************************************

.inventory-intro-wrapper
  width: 100%
  height: 100vh
  background: #f9f9f9
  overflow-y: hidden

.inventory-intro-display
  width: 100%
  height: 100%

.inventory-intro-numbers
  width: 100%
  height: 100%
  background: $menu-background
  position: relative
  display: inline-block

  h1
    width: 90%
    color: #f9f9f9
    font-size: 25px
    text-shadow: 0px 5px 10px #000
    position: absolute
    top: 225px
    left: 10px

  span
    color: #9D9D9D
    position: absolute
    font-size: 280px
    font-weight: bold
    margin-top: -60px

  p
    width: 300px
    color: #f9f9f9
    font-size: 20px
    font-style: italic
    letter-spacing: 1px
    line-height: 40px
    position: absolute
    top: 350px
    left: 20px

@media (min-width: 600px)

  .inventory-intro-numbers
    width: 400px

    span
      font-size: 300px




.inventory-intro-cars
  width: calc(100% - 410px)
  height: 100%
  position: relative
  display: none

  ul
    width: 100%
    height: 100%
    position: absolute
    list-style: none

  li
    color: #ccc
    width: 100%
    height: 25%
    font-size: 30px
    font-weight: bold
    border-top: 2px solid #ccc
    border-bottom: 2px solid #ccc
    transition: all 0.8s ease 0.2s

    &:hover
      height: 50%
      margin-top: -50px

    &:nth-child(1)
      background:
        image: url('http://selectvettes.com/inventory/65%20vette%20web1.jpg')
        size: cover
        repeat: no-repeat
        position: center
    &:nth-child(2)
      background:
        image: url('http://selectvettes.com/inventory/57%20tbirdweb1.jpg')
        size: cover
        repeat: no-repeat
        position: center
    &:nth-child(3)
      background:
        image: url('http://selectvettes.com/inventory/66%20442rd%20web1.jpg')
        size: cover
        repeat: no-repeat
        position: center
    &:nth-child(4)
      background:
        image: url('http://selectvettes.com/inventory/67%20GTO%20web1.jpg')
        size: cover
        repeat: no-repeat
        position: center

    img
      width: 100%
      height: 100%

@media (min-width: 500px)

  .inventory-intro-cars
    display: inline-block

.inventory-intro-overlay
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.4)
  display: flex
  align-items: center
  justify-content: center



//***************************************
//         Inventory List
//***************************************

.inventory-list-wrapper
  width: 100%
  height: 100%
  background: #f9f9f9
  position: relative

  &:after
    content: ''
    border: 1em solid transparent
    border-top-color: #f9f9f9
    margin-left: -1em
    position: absolute
    top: 100%
    left: 50%



.inventory-list-display
  width: 100%
  height: 100%
  padding: 50px 0
  background: #f9f9f9

.inventory-list-group
  width: 90%
  height: 100%
  max-width: 1080px
  margin: 50px auto


  &:nth-child(2n+2)
    background: #ddd


  li
    width: 100%
    height: 100%
    padding: 20px 0
    text-align: center
    list-style: none

.inventory-list-image
  width: 100%
  height: 250px
  text-align: center
  display: block

  img
    width: 100%
    max-width: 350px
    height: 100%
    max-height: 270px
    display: inline-block

@media (min-width: 500px)
  .inventory-list-image
    width: 45%
    display: inline-block


.inventory-list-items
  width: 100%
  height: 250px
  color: #707070
  display: inline-block
  vertical-align: top
  text-align: center
  position: relative

  h2
    width: 100%
    padding: 10px 0
    text-align: center

  button
    width: 150px
    height: 35px
    background: $menu-background
    border-radius: 4px
    box-shadow: 0px 5px 10px $menu-background
    border: none
    outline: none
    cursor: pointer
    position: absolute
    bottom: 10px
    left: calc(50% - 75px)
    transform: translateY(5px)
    transition: all 0.5s ease

    &:hover
      transform: translateY(0)
      box-shadow: 0px 10px 18px $menu-background

    a
      color: #ccc
      font-size: 16px
      text-decoration: none

@media (min-width: 600px)
  .inventory-list-items
    width: 45%
