@import '../1-base/var'

html,body
  overflow-x: hidden
  font-family: 'Open Sans', sans-serif

.nav-wrapper
  width: 75%
  height: 100vh
  background: $menu-background
  position: fixed
  right: 0
  transform: translateX(100%)
  transition: all .5s linear

.nav-icon
  height: 30px
  width: 30px
  position: absolute
  top: 10px
  left: -50px
  cursor: pointer
  transform: translateX(0)
  transition: all 0.35s linear

.nav-icon span
  width: 25px
  height: 2px
  background: #ccc
  position: absolute
  right: 3px
  transition: all 0.35s ease

  &:nth-child(1)
    top: 2px
    transform: rotate(0deg)
  &:nth-child(2)
    top: 9px
    opacity: 1
    transition: all 0.1s ease
  &:nth-child(3)
    top: 16px
    transform: rotate(0deg)

  &:nth-child(1).open
    top: 9px
    transform: rotate(135deg)
  &:nth-child(2).open
    top: 9px
    opacity: 0
  &:nth-child(3).open
    top: 9px
    transform: rotate(-135deg)

.nav-display
  width: 100%
  height: 100%
  color: #ccc
  display: flex
  flex-direction: column
  align-item: center
  justify-content: center


  h1
    font-size: 2em
    margin-left: 20px

  h2
    font-size: 1.2em
    margin-left: 20px

  h1,h2
    font-weight: 300
    padding: 10px 0

    &:hover
      color: $vette-red
      text-shadow: 0 0 15px $vette-red


// Jquery Classes
.nav-slide
  transform: translateX(0)

.icon-slide
  transform: translateX(75vw)
  transition: 0.35s all .75s ease

@media (min-width: 769px)
  .icon-slide
    transform: translateX(40vw)
    transition: 0.35s all .75s

  .nav-wrapper
    width: 40%

  .nav-display
    h1
      font-size: 3em
    h2
      font-size: 2em
